<div class="panel">
    <div class="panel-body">
            <h3 class="title-hero col-md-10" >Hot Events</h2>

        <div class="dropdown" style="top:-5px">
            <a style="cursor:pointer" class="btn btn-default" title="" data-toggle="dropdown">
                <span class="caret"></span>
                Sort
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a style="cursor:pointer" ng-click="sortbytime()"title="">
                        Sort by event time
                    </a>
                </li>
                <li>
                    <a style="cursor:pointer" ng-click="sortbyname()">
                        Sort by name
                    </a>
                </li>
                <li>
                    <a style="cursor:pointer" ng-click="sortbypublish()">
                        Sort by publish time
                    </a>
                </li>
            </ul>
        </div>



<div class="portfolio-controls mrg10L mrg10R radius-all-4 portfolio-nav-alt bg-blue clearfix controls">
    <div class="container text-center">
        <ul class="float-none">
            <li class="filter">View all</li>
            <li class="filter">Illustrations</li>
            <li class="filter">Food &amp; Drink</li>
            <li class="filter">Mobile applications</li>
            <li class="filter">Gadgets &amp; Effects</li>
        </ul>
    </div>
</div>
        <div class="clearfix">
            <ul id="portfolio-grid" class="reset-ul row">
                <div ng-repeat="event in allevents">
                    <li class="col-lg-3 col-sm-6 col-md-4">
                        <div class="thumbnail-box-wrapper">
                            <div class="thumbnail-box">
                                <a class="thumb-link" href="#" title=""></a>
                                <div class="thumb-content">
                                    <div class="center-vertical">
                                        <div class="center-content">
                                            <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-camera"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumb-overlay bg-black"></div>
                                <img src="assets/image-resources/stock-images/img-17.jpg" alt="">
                            </div>
                            <div class="thumb-pane">
                                <h3 class="thumb-heading animated rollIn">
                                    <a href="#" title="">
                                        {{event.title}}
                                    </a>
                                    <small>{{event.time}}</small>
                                </h3>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        </div>
    </div>
</div>


<script src="dashboard.controller.js"></script>
<script src="controller.js"></script>
<script src="register/register.controller.js"></script>
<script type="text/javascript" src="app-services/flash.service.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
