<div class="panel">
    <div class="panel-body">
            <h3 class="title-hero col-md-10" >Events Created</h2>

        <div class="dropdown" style="top:-5px">
            <a style="cursor:pointer" class="btn btn-default" title="" data-toggle="dropdown">
                <span class="caret"></span>
                Sort
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a style="cursor:pointer" ng-click="sortbytime()"title="">
                        Sort by event time
                    </a>
                </li>
                <li>
                    <a style="cursor:pointer" ng-click="sortbyname()">
                        Sort by name
                    </a>
                </li>
                <li>
                    <a style="cursor:pointer" ng-click="sortbypublish()">
                        Sort by publish time
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="clearfix">
            <ul id="portfolio-grid" class="reset-ul row">
                <div ng-repeat="event in allevents">
                    <li class="col-lg-3 col-sm-6 col-md-4" style="cursor:pointer" ng-click="showspecificevent(event.id)">
                        <div class="thumbnail-box-wrapper">
                            <div class="thumbnail-box">
                                <div class="thumb-content">
                                    <div class="center-vertical">
                                        <div class="center-content">
                                            <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-note"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumb-overlay bg-black"></div>
                                <img src="assets/image-resources/stock-images/img-17.jpg" alt="">
                            </div>
                            <div class="thumb-pane">
                                <h3 class="thumb-heading animated rollIn">
                                    <a title="">
                                        {{event.title}}
                                    </a>
                                    <small>{{event.starttime}}</small>
                                </h3>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
            <div class="button-pane mrg20T">
                <button class="btn btn-info" ng-click="gotoPrevPage()" ng-disabled="currentpage <= 1"><</button>
                {{currentpage}} / {{maxpage}}
                <button class="btn btn-info" ng-click="gotoNextPage()" ng-disabled="currentpage >= maxpage">></button>
            </div>
        </div>
    </div>
</div>


<div class="panel">
    <div class="panel-body">
            <h3 class="title-hero col-md-10" >Events Attend</h2>

        <div class="dropdown" style="top:-5px">
            <a style="cursor:pointer" class="btn btn-default" title="" data-toggle="dropdown">
                <span class="caret"></span>
                Sort
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a style="cursor:pointer" ng-click="sortbytime()"title="">
                        Sort by event time
                    </a>
                </li>
                <li>
                    <a style="cursor:pointer" ng-click="sortbyname()">
                        Sort by name
                    </a>
                </li>
                <li>
                    <a style="cursor:pointer" ng-click="sortbypublish()">
                        Sort by publish time
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="clearfix">
            <ul id="portfolio-grid" class="reset-ul row">
                <div ng-repeat="event_attend in events_attend">
                    <li class="col-lg-3 col-sm-6 col-md-4" style="cursor:pointer" ng-click="showspecificevent(event_attend.id)">
                        <div class="thumbnail-box-wrapper">
                            <div class="thumbnail-box">
                                <div class="thumb-content">
                                    <div class="center-vertical">
                                        <div class="center-content">
                                            <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-note"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumb-overlay bg-black"></div>
                                <img src="assets/image-resources/stock-images/img-17.jpg" alt="">
                            </div>
                            <div class="thumb-pane">
                                <h3 class="thumb-heading animated rollIn">
                                    <a title="">
                                        {{event_attend.title}}
                                    </a>
                                    <small>{{event_attend.starttime}}</small>
                                </h3>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
            <div class="button-pane mrg20T">
                <button class="btn btn-info" ng-click="gotoPrevPage()" ng-disabled="currentpage_attend <= 1"><</button>
                {{currentpage_attend}} / {{maxpage_attend}}
                <button class="btn btn-info" ng-click="gotoNextPage()" ng-disabled="currentpage_attend >= maxpage">></button>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="templateId">

        <h1> {{specevent.title}} </h1>
        <br>
        <br>
        <div class="col-md-6">
            <div class="float-left" style="text-align: left;">
            <label>Time Begin:</label>{{specevent.starttime}}<br>
            <label>Time Ends:</label>{{specevent.endtime}}<br>
            <label>Location:</label>{{specevent.address}}<br>
            <label>Price:</label>0<br>
            <label>Event creater:</label><a>{{specevent.owner}}</a><br>
            <label>Event creat time:</label>{{specevent.posttime}}<br>
            <label>Description:</label>{{specevent.description}}<br>

            <button class="btn btn-alt btn-hover btn-blue-alt" ng-if="show && reserve" ng-click = "reserveEvent(specevent.id)" style="top:20px">
                <span>Reserve the event</span>
                <i class="glyph-icon icon-arrow-right"></i>
            </button>
            <button class="btn btn-alt btn-hover btn-blue-alt" ng-if="show && !reserve" ng-click = "quitEvent(specevent.id)" style="top:20px">
                <span>Quit the event</span>
                <i class="glyph-icon icon-arrow-right"></i>
            </button>
            </div>
        </div>
        <div class="col-md-6">
            <img style="max-height:100px" ng-src="{{specevent.mapurl}}"></img>
        </div>
</script>
