<div class="content-box">
	<form class="form-horizontal">
		<div class="form-group">
			<h3 class="title-hero" style="text-align: center;">
				Event Edit
				<br><a ng-click="test()">TEST BUTTON</a>
			</h3>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Event Name</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="" ng-model="event.event_name" required placeholder="Event Name">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Date</label>
			<div class="col-sm-6">
				<input type="text" class="bootstrap-datepicker form-control" placeholder="Event Date" required data-date-format="yy-mm-dd">
			</div>
		</div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Time</label>
            <div class="col-sm-6">
                <input type="text" class="timepicker-example form-control" required>
			</div>
        </div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Location</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="" ng-change="getplace()" ng-model="event.event_location" placeholder="Event Location" required>
			</div>
			show map: <input type="checkbox" ng-model="showMap"></input>
			
		</div>
		<div class="form-group" ng-show="showMap">
			<label class="col-sm-3 control-label">Show Map</label>
			<div class="col-sm-6">
			<img src="{{mapurl}}"></img>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 control-label">Tag</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="" ng-model="event.event_tag" placeholder="Event Tag">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Description</label>
			<div class="col-sm-6">
				<textarea name="" rows="5" class="form-control textarea-autosize" ng-model="event.event_description" placeholder="Event Description"></textarea>
			</div>
		</div>
	</form>
	<div class="button-pane mrg20T">
		<button class="btn btn-info" ng-click="eventsubmit(event)">Submit</button>
		<button class="btn btn-link font-gray-dark">Cancel</button>
	</div>
</div>


<script src="eventedit.js"></script>
<script src="controller.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-route.min.js"></script>
