
<script type="text/ng-template" id="templateId">
        <button class="btn btn-round btn-default float-left" ng-if="save" ng-click = "saveEvent(specevent.id)" style="top:20px">
            <div class="glyph-icon icon-star-o" style="color:yellow"></div>
        </button>
        <button class="btn btn-round btn-default float-left" ng-if="!save" ng-click = "unsaveEvent(specevent.id)" style="top:20px">
            <div class="glyph-icon icon-star" style="color:yellow"></div>
        </button>
        <h1> {{specevent.title}} </h1>
        <br>
        <br>
        <div class="col-md-6">
            <div class="float-left" style="text-align: left;">
            <label>Time Begin:</label>{{specevent.starttime}}<br>
            <label>Time Ends:</label>{{specevent.endtime}}<br>
            <label>Location:</label>{{specevent.address}}<br>
            <label>Price:</label>{{specevent.price}}<br>
            <label>Event creater:</label><br>
            <div ng-click="ownerprofie()" style="cursor:pointer">
				<img style="max-width: 50px; max-height:50px" src="https://yakume.xyz/img/{{specevent.owner_object.avatar}}" alt="" class="meta-image img-bordered img-circle">
                <h3 class="meta-heading">{{specevent.owner_object.name}}</h3>
            </div>
            <label>Event creat time:</label>{{specevent.posttime}}<br>
            <label>Description:</label>{{specevent.description}}<br>
            <label ng-if="!sattend" ng-click="showattend()" style="cursor:pointer">Show Attendees</label><br>
            <div ng-if="sattend">
                <label ng-click="showattend()" style="cursor:pointer">Hide Attendee:</label>
                <div ng-repeat="user in attend_users">
                    <div class="col-md-2">
    					<div ng-click="goto_profie(user.email)" style="cursor:pointer">
    						<img style="max-width: 30px; max-height:30px" src="https://yakume.xyz/img/{{user.avatar}}" alt="" class="meta-image img-bordered img-circle">
    					</div>
                    </div>
                </div>
            </div>

            <div ng-if="showpayinfo">
                <div id="contents">
            <div class="cc-container">
                <div class="cc-header">
                    Please enter your billing information</div>
                <div class="cc-contents">
                    <table cellpadding="4" cellspacing="0">
                        <tr>
                            <td>
                                <label> Card Number</label>
                            </td>
                            <td>
                                <input type="text" ng-model="cardnumber" class="cc-card-number" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Expires Month</label>
                            </td>
                            <td>
                                <div class="cc-ddl" style="width: 110px; float: left;">
                                    <div>
                                        <select ng-model = "expmonth">
                                        <option value="">--Select Month--</option>
                                        <option value="01">Janaury</option>
                                        <option value='02'>February</option>
                                        <option value='03'>March</option>
                                        <option value='04'>April</option>
                                        <option value='05'>May</option>
                                        <option value='06'>June</option>
                                        <option value='07'>July</option>
                                        <option value='08'>August</option>
                                        <option value='09'>September</option>
                                        <option value='10'>October</option>
                                        <option value='11'>November</option>
                                        <option value='12'>December</option>
                                        </select> 
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Expires Year</label>
                            </td>
                            <td>
                                <div class="cc-ddl" style="width: 110px; float: left;">
                                    <div>
                                        <select ng-model = "expyear">
                                        <option value=''>--Select Year--</option>
                                        <option value='16'>2016</option>
                                        <option value='17'>2017</option>
                                        <option value='18'>2018</option>
                                        <option value='19'>2019</option>
                                        <option value='20'>2020</option>
                                        <option value='21'>2021</option>
                                        <option value='22'>2022</option>
                                        <option value='23'>2023</option>
                                        <option value='24'>2024</option>
                                        <option value='25'>2025</option>
                                        <option value='26'>2026</option>
                                        <option value='27'>2027</option>
                                        </select> 
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>

            </div>

            </div>
        </div>
        <div class="col-md-6">
            <img ng-src="{{specevent.mapurl}}"></img>
        </div>
        <button class="btn btn-alt btn-hover btn-blue-alt" ng-if="reserve && !past" ng-click = "reserveEvent(specevent.id)" style="top:20px">
            <span>Reserve Event</span>
            <i class="glyph-icon icon-arrow-right"></i>
        </button>
        <button class="btn btn-alt btn-hover btn-blue-alt" ng-if="!reserve && !past" ng-click = "quitEvent(specevent.id)" style="top:20px">
            <span>Quit Event</span>
            <i class="glyph-icon icon-arrow-right"></i>
        </button>
        <button class="btn btn-alt btn-hover btn-red-alt bg-red" ng-if="selfown" ng-click = "deleteEvent(specevent.id)" style="top:20px">
            <span>Delete event</span>
            <i class="glyph-icon icon-arrow-right"></i>
        </button>
</script>
