<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            {{'Hot Events'|translate}}
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="clearfix">
                    <ul id="portfolio-grid" class="reset-ul row">
                        <div ng-repeat="event in allevents">
                            <li class="col-lg-4 col-sm-6 col-md-4" style="cursor:pointer" ng-click="showspecificevent(event.id)">
                                <div class="thumbnail-box-wrapper">
                                    <div class="thumbnail-box">
                                        <a class="thumb-link" href="#" title=""></a>
                                        <div class="thumb-content">
                                            <div class="center-vertical">
                                                <div class="center-content">
                                                    <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-note"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="thumb-overlay bg-black"></div>
                                        <img style="height:132.95px" src="{{event.eventimage}}" alt="">
                                    </div>
                                    <div class="thumb-pane">
                                        <h3 class="thumb-heading animated rollIn">
                                            <a href="#" title="">
                                                {{event.title}}
                                            </a>
                                            <small>{{event.time}}</small>
                                        </h3>
                                    </div>
                                </div>
                            </li>
                        </div>
                        <li class="col-lg-4 col-md-4" ui-sref="hotevents">
                            <div class="tile-box bg-white" >
                                <div class="thumbnail-box" style="height:200px" >
                                    <div class="thumb-content">
                                        <div class="center-vertical">
                                            <div class="center-content">
                                                <h3 class="thumb-heading animated flipInX" >
                                                    {{'More Events'|translate}}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="thumb-overlay bg-black"></div>
                                     <div class="tile-content-wrapper">
                                        <img src="img/more.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            {{'My Events'|translate}}
        </h3>
        

        <div class="clearfix">
            <ul id="portfolio-grid" class="reset-ul row">
                <div ng-repeat="event_attend in allevents_attend">
                    <li class="col-lg-4 col-sm-6 col-md-4" style="cursor:pointer" ng-click="showspecificevent(event_attend.id)">
                        <div class="thumbnail-box-wrapper">
                            <div class="thumbnail-box">
                                <div class="thumb-content">
                                    <div class="center-vertical">
                                        <div class="center-content">
                                            <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-note"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumb-overlay bg-black"></div>
                                <img style="height:132.95px" src="{{event_attend.eventimage}}" alt="">
                            </div>
                            <div class="thumb-pane">
                                <h3 class="thumb-heading animated rollIn">
                                    <a title="">
                                        {{event_attend.title}}
                                    </a>
                                    <small>{{event_attend.starttime}}</small>
                                </h3>
                            </div>
                        </div>
                    </li>
                </div>
                <li class="col-lg-4 col-md-4" ui-sref="myevents">
                    <div class="tile-box bg-white" >
                        <div class="thumbnail-box" style="height:200px" >
                            <div class="thumb-content">
                                <div class="center-vertical">
                                    <div class="center-content">
                                        <h3 class="thumb-heading animated flipInX" >
                                            {{'More Events'|translate}}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="thumb-overlay bg-black"></div>
                             <div class="tile-content-wrapper">
                                <img src="img/more.png" alt="">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



<script type="text/ng-template" id="templateId">

        <h1> {{specevent.title}} </h1>
        <br>
        <br>
        <div class="col-md-6">
            <div class="float-left" style="text-align: left;">
            <label>Time Begin:</label>{{specevent.starttime}}<br>
            <label>Time Ends:</label>{{specevent.endtime}}<br>
            <label>Location:</label>{{specevent.address}}<br>
            <label>Price:</label>0<br>
            <label>Event creater:</label><a style="cursor:pointer" ng-click="showownerinfo()">{{specevent.owner}}</a><br>
            <div ng-if="sowner">
                <button ng-if="!follow" ng-click="Follow()">Follow User</button>
                <button ng-if="follow" ng-click="unFollow()">Unfollow User</button>
            </div>
            <label>Event creat time:</label>{{specevent.posttime}}<br>
            <label>Description:</label>{{specevent.description}}<br>
            <label ng-if="!sattend" ng-click="showattend()" style="cursor:pointer">Show Attendees</label><br>
            <div ng-if="sattend">
                <label ng-click="showattend()" style="cursor:pointer">Hide Attendee:</label>
                <div ng-repeat="a in attendees">
                    <p>{{a}}</p>
                </div>
            </div>

            <button class="btn btn-round btn-default" ng-if="save" ng-click = "saveEvent(specevent.id)" style="top:20px">
                <div class="glyph-icon icon-star-o" style="color:yellow"></div>
            </button>
            <button class="btn btn-round btn-default" ng-if="!save" ng-click = "unsaveEvent(specevent.id)" style="top:20px">
                <div class="glyph-icon icon-star" style="color:yellow"></div>
            </button>
            <button class="btn btn-alt btn-hover btn-blue-alt" ng-if="reserve" ng-click = "reserveEvent(specevent.id)" style="top:20px">
                <span>Reserve the event</span>
                <i class="glyph-icon icon-arrow-right"></i>
            </button>
            <button class="btn btn-alt btn-hover btn-blue-alt" ng-if="!reserve" ng-click = "quitEvent(specevent.id)" style="top:20px">
                <span>Quit the event</span>
                <i class="glyph-icon icon-arrow-right"></i>
            </button>
            <button class="btn btn-alt btn-hover btn-red-alt bg-red" ng-if="!show" ng-click = "deleteEvent(specevent.id)" style="top:20px">
                <span>Delete the event</span>
                <i class="glyph-icon icon-arrow-right"></i>
            </button>
            </div>
        </div>
        <div class="col-md-6">
            <img ng-src="{{specevent.mapurl}}"></img>
        </div>
</script>
