<div class="center-vertical" style="top:70px">
        <div class="center-content row">

            <div class="col-md-6 center-margin">
            <h3 class="text-center pad15B font-white text-transform-upr font-size-23">Yakume</h3>
            <div class="content-box border-top border-red clearfix" >
                <div class="content-box-wrapper row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2>{{'Forget Password'|translate}}</h2>
                        <br>
                        <form name="form" ng-submit="vm.register()" role="form">
                        
                            <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$invalid }">
                                <label for="username">{{'Email address'|translate}}</label>
                                <input type="text" name="email" id="email" class="form-control" ng-model="email"
                                ng-pattern="/^[_A-z0-9]+(\.[A-z0-9]+)*@[A-z0-9-]+(\.[A-z0-9-]+)*(\.[A-z]{2,7})$/" required />
                                <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">{{'Email is required'|translate}}</span>
                                <span ng-show="form.email.$dirty && !form.email.$error.required && form.email.$error.pattern" class="help-block">{{'Please enter a valid email'|translate}}</span>
                            </div>
                            <div class="form-actions">
                                <button type="submit" ng-click="submit()" ng-disabled="form.$invalid" class="btn btn-primary">{{'Reset Password'|translate}}</button>
                                <a href="" ng-click="back()" class="btn btn-link">{{'Cancel'|translate}}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>